body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;


    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

/*stylpak*/

.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;

}


.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;


    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 15px;
        padding-left: 15px;

    }
}

/*header*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.menu,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.logo {
    color: #4d5ae5;
    padding: 16px 0;
    display: block;

}


.logo-span {
    color: #2e2f42;
}

.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-burger {
    fill: #2f2f37;
    display: block;
}

/*tablet-version*/

@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }

    .logo {
        margin-right: 120px;
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;

        gap: 40px;
    }

    .menu-link {
        color: #2e2f42;
    }






    .menu-link {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);



    }

    .menu-item-pseudo::after {
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        position: absolute;
        background-color: #404bbf;
        border-radius: 2px;

    }

    .menu-item-pseudo {
        color: #404BBF;
    }

    .menu-item {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .menu-item:hover {
        color: #404bbf
    }

    .menu-item:focus {
        color: #404BBF;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font-size: 12px;




    }

    .contacts-link {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link {
        line-height: 1.17;

    }



    .contacts-link:hover {
        color: #404bbf;
    }

    .contacts-link:focus {
        color: #404bbf
    }

    address {
        font-style: normal;
        margin-left: auto;
    }
}

/*desktop-version*/

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;

    }

    .contacts {
        flex-direction: row;
        align-items: center;
        gap: 40px;
        font-size: 16px;
    }

    .contacts-link {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        line-height: 1.5;
    }


    .contacts-link:hover {
        color: #404bbf;
    }

    .contacts-link:focus {
        color: #404bbf
    }

    .contacts-list {
        display: flex;
        gap: 40px;
    }
}

/*mobil-hero*/

.hero-section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    padding: 72px 0;
    height: 432px;

}

.main-title {
    color: #ffffff;
}




.main-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 320px;
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 52px;
    margin-right: 52px;

}

.order-service {

    display: block;
    color: #4d5ae5;
    background-color: #4D5AE5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 72px auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover,
.order-service:focus {
    background-color: #404BBF;
}



.order-service {
    background-color: #4D5AE5;
}

.order-service {

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

/*tablet-hero*/

@media screen and (min-width: 768px) {
    .hero-section {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;



    }

    .main-title {
        color: #ffffff;
    }




    .main-title {

        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;

        color: #fff;
        max-width: 768px;


        margin: auto 120px;


    }

    .order-service {

        display: block;
        color: #4d5ae5;
        background-color: #4D5AE5;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-bottom: 112px;

        margin-left: auto;
        margin-right: auto;
        padding: 16px 32px;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-bottom: 116px;
    }

    .order-service:hover,
    .order-service:focus {
        background-color: #404BBF;
    }



    .order-service {
        background-color: #4D5AE5;
    }

    .order-service {

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
    }


}

/*desktop-hero*/

@media screen and (min-width: 1158px) {
    .hero-section {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        height: 600px;



    }

    .main-title {
        color: #ffffff;
    }


    .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .main-title {

        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;


    }

    .order-service {

        display: block;
        color: #4d5ae5;
        background-color: #4D5AE5;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .order-service:hover,
    .order-service:focus {
        background-color: #404BBF;
    }



    .order-service {
        background-color: #4D5AE5;
    }

    button {
        cursor: pointer;

    }

    .order-service {

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
    }
}

/*mobil-section2*/

.section-two {
    padding-top: 96px;
    padding-bottom: 96px;

}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}



.vectors-container {
    display: none;

}

.vectors-title {
    color: #2e2f42;
}

.vectors-text {
    color: #434455;
}

.vectors-title {

    font-weight: 500;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    padding-bottom: 8px;

}

.vectors-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;




}

.vectors-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;


}

/*tablet-section2*/
@media screen and (min-width: 768px) {
    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }



    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    .vectors-list-item {
        width: calc((100% - 24px) / 2);
    }

    .vectors-container {
        display: none;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .vectors-title {
        color: #2e2f42;
    }

    .vectors-text {
        color: #434455;
    }

    .vectors-title {

        font-weight: 500;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: left;
    }

    .vectors-text {

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: left;
    }

    .vectors-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;




    }
}

/*desctop-section2*/


@media screen and (min-width: 1158px) {
    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }



    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    .vectors-list-item {
        width: calc((100% - 72px) / 4);
    }

    .vectors-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .vectors-title {
        color: #2e2f42;
    }

    .vectors-text {
        color: #434455;
    }

    .vectors-title {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .vectors-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }

    .vectors-list {
        display: flex;

        gap: 24px;

    }
}

/*mobile-section3*/

.section-three {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}




.team {
    color: #2e2f42;
    font-size: 36px;
    margin-bottom: 72px;
}


.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.team {
    background-color: #F4F4FD;
}

.team {
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 72px;
}

.team-list-item {
    background-color: #FFFFFF;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-item {

    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background-color: #FFFFFF;


}



.teammates {
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.teammates {

    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    color: #434455;
}

.team-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.container-teammates {
    padding-top: 32px;
    padding-bottom: 32px;


    text-align: center;
}

.team-text {
    text-align: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
    gap: 24px;
}

.social-link:hover {
    background-color: #404bbf;
}

.social-link:focus {
    background-color: #404bbf;
}

.icons {
    fill: #F4F4FD;
}

/*tablet-section3*/
@media screen and (min-width: 768px) {
    .section-three {
        background-color: #F4F4FD;
        padding-top: 96px;
        padding-bottom: 96px;
    }




    .team {
        color: #2e2f42;
        font-size: 36px;
        margin-bottom: 72px;
    }


    .team {

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }


    .team {
        background-color: #F4F4FD;
    }

    .team {
        text-transform: capitalize;
    }

    .team-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-list-item {
        background-color: #FFFFFF;
        width: calc((100% - 24px) / 2);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        max-width: 264px;

    }

    .team-list-item {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        background-color: #FFFFFF;




    }



    .teammates {
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
    }

    .teammates {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .team-text {
        color: #434455;
    }

    .team-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }

    .team {

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .container-teammates {
        padding-top: 32px;
        padding-bottom: 32px;


        text-align: center;

    }

    .team-text {
        text-align: center;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        gap: 24px;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link {
        gap: 24px;
    }

    .social-link:hover {
        background-color: #404bbf;
    }

    .social-link:focus {
        background-color: #404bbf;
    }

    .icons {
        fill: #F4F4FD;
    }
}

/*desktop-section3*/

@media screen and (min-width: 1158px) {
    .section-three {
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
    }




    .team {
        color: #2e2f42;
        font-size: 36px;
        margin-bottom: 72px;
    }


    .team {

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }


    .team {
        background-color: #F4F4FD;
    }

    .team {
        text-transform: capitalize;
    }

    .team-list {
        display: flex;

        gap: 24px;
    }

    .team-list-item {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .team-list-item {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        background-color: #FFFFFF;

    }



    .teammates {
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
    }

    .teammates {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .team-text {
        color: #434455;
    }

    .team-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }

    .team {

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .container-teammates {
        padding-top: 32px;
        padding-bottom: 32px;


        text-align: center;
    }

    .team-text {
        text-align: center;
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        gap: 24px;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4d5ae5;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link {
        gap: 24px;
    }

    .social-link:hover {
        background-color: #404bbf;
    }

    .social-link:focus {
        background-color: #404bbf;
    }

    .icons {
        fill: #F4F4FD;
    }
}

/*mobil-section4*/

.section-four {
    padding-top: 96px;
    padding-bottom: 96px;
}


.portfolio .portfolio-subtitle {
    color: #2e2f42;
}




.portfolio {

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio {
    text-transform: capitalize;
    font-size: 36px;
}

.portfolio {
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

}

.container-item {
    padding: 32px 16px;

    border: 1px solid #e7e9fc;

    border-top: none;
}

.portfolio-list-item {

    flex-direction: column;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover .conttext {

    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.cont {
    overflow: hidden;
    position: relative;


}

.conttext {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-subtitle {

    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.portfolio-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

/*tablet-section4*/

@media screen and (min-width: 768px) {
    .section-four {
        padding-top: 96px;
        padding-bottom: 96px;
    }


    .portfolio .portfolio-subtitle {
        color: #2e2f42;
    }




    .portfolio {

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .portfolio {
        text-transform: capitalize;
        font-size: 36px;
    }

    .portfolio {
        text-align: center;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;

    }

    .container-item {
        padding: 32px 16px;

        border: 1px solid #e7e9fc;

        border-top: none;
    }

    .portfolio-list-item {

        flex-direction: column;
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .portfolio-list-item:hover .conttext {

        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    .portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);

    }

    .cont {
        overflow: hidden;
        position: relative;


    }

    .conttext {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .portfolio-subtitle {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;

    }

    .portfolio-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/*desktopsection4*/

@media screen and (min-width: 1158px) {
    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .portfolio .portfolio-subtitle {
        color: #2e2f42;
    }




    .portfolio {

        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
    }

    .portfolio {
        text-transform: capitalize;
        font-size: 36px;
    }

    .portfolio {
        text-align: center;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;

    }

    .container-item {
        padding: 32px 16px;

        border: 1px solid #e7e9fc;

        border-top: none;
    }

    .portfolio-list-item {

        flex-direction: column;
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .portfolio-list-item:hover .conttext {

        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    .portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);

    }

    .cont {
        overflow: hidden;
        position: relative;


    }

    .conttext {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .portfolio-subtitle {

        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;

    }

    .portfolio-text {

        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/*mobile-footer*/

.page-footer {
    background-color: #2e2f42;
    padding: 96px 16px;


}

.footer-content {
    align-items: center;
}

.logo-footer-span {
    color: #f4f4fd;

}

.social-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding-bottom: 72px;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover {
    background-color: #31d0aa;
}

.social-link-footer:focus {
    background-color: #31d0aa;
}


.logo {
    display: inline-block;
    margin-left: 72px;
}

.logo:hover {
    background-color: #31d0aa;
}

.logo:focus {
    background-color: #31d0aa;
}

.logo-footer {
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 72px;
    text-align: left;


}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-text {

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}



.subscriber {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.pole {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.E-mail::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.label-input-footer {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;



}

.vidpravyty {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;

    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;

}

.send-icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

/*tablet-footer*/

@media screen and (min-width: 768px) {
    .page-footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;

    }


    .footer-full {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .footer-content {
        margin-right: auto;
    }

    .logo-footer-span {
        color: #f4f4fd;

    }

    .social-footer {
        display: flex;
        gap: 16px;
    }

    .social-link-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link-footer:hover {
        background-color: #31d0aa;
    }

    .social-link-footer:focus {
        background-color: #31d0aa;
    }


    .logo {
        display: inline-block;

    }

    .logo:hover {
        background-color: #31d0aa;
    }

    .logo:focus {
        background-color: #31d0aa;
    }

    .logo-footer {
        margin-bottom: 16px;
    }

    .footer-text {
        color: #f4f4fd;
        letter-spacing: 0.02em;
        line-height: 1.5;
        max-width: 264px;
    }

    .social-container {
        margin-right: 80px;

    }

    .social-text {

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .subscriber {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: left;
    }

    .pole {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .E-mail::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #fff;
        margin-left: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .label-input-footer {
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;


    }


    .vidpravyty {
        border-radius: 4px;
        padding: 8px 24px;
        width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        display: flex;
        min-width: 165px;
        justify-content: left;
        align-items: left;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        border: none;

    }

    .send-icon {
        fill: #fff;
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }
}

/*desktop-footer*/

@media screen and (min-width: 1158px) {
    .page-footer {
        background-color: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;

    }


    .footer-full {
        display: flex;
        align-items: baseline;

    }

    .footer-content {
        margin-right: 120px;
    }

    .logo-footer-span {
        color: #f4f4fd;

    }

    .social-footer {
        display: flex;
        gap: 16px;
    }

    .social-link-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link-footer:hover {
        background-color: #31d0aa;
    }

    .social-link-footer:focus {
        background-color: #31d0aa;
    }


    .logo {
        display: inline-block;

    }

    .logo:hover {
        background-color: #31d0aa;
    }

    .logo:focus {
        background-color: #31d0aa;
    }

    .logo-footer {
        margin-bottom: 16px;
    }

    .footer-text {
        color: #f4f4fd;
        letter-spacing: 0.02em;
        line-height: 1.5;
        max-width: 264px;
    }

    .social-container {
        margin-right: 80px;
    }

    .social-text {

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .subscriber {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .pole {
        display: flex;
        gap: 24px;
    }

    .E-mail::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #fff;
        margin-left: 16px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .label-input-footer {
        border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;



    }

    .vidpravyty {
        border-radius: 4px;
        padding: 8px 24px;
        width: 165px;
        height: 40px;
        background-color: #4d5ae5;

        min-width: 165px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        border: none;

    }

    .send-icon {
        fill: #fff;
        width: 24px;
        height: 24px;
        margin-left: 16px;
    }
}

/*backdrop*/

.modal-fon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-okno {
    border-radius: 4px;
    width: 288px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fcfcfc;
    overflow: auto;
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;


}

.modal-fon.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-fon:not(.is-open) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 0;
    cursor: pointer;

    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-button:hover {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.close-button:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leave {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;


    margin-bottom: 20px;

    margin-bottom: 16px;
}

.form {
    width: 256px;
    height: 336px;
    border-radius: 4px;
}

.client-name {
    margin-bottom: 8px;
}

.client-name-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;



}

.client-name-input {
    padding-left: 38px;
    width: 256px;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-name-input:focus {
    border-color: #4D5AE5;

}

.client-name-input:focus+.name-icon {
    fill: #4D5AE5;
}




.client-phone-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.client-emale-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

}

.comment {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

}

.name-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-icon {
    position: relative;

}



.phone-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.input-phone {
    position: relative;
}



.client-phone-input {
    padding-left: 38px;
}






.email-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}

.input-email {
    position: relative;
}

.client-email-input {
    padding-left: 38px;
}

.client-comment {
    margin-bottom: 16px;
}

.text-area {
    width: 256px;
    height: 120px;

    resize: none;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.text-area:focus {
    border-color: #4D5AE5;
}

.privacy-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;



}

.privacy-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;





}

.privacy-policy {
    margin-bottom: 24px;

}

.privacy-link {
    color: #4d5ae5;
}

.privacy-input:checked+.privacy-label>.chekbox-button-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;


}

.chekbox-button-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;


}




.privacy-policy-span {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
    width: 159px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;

    margin-left: 120px;

    display: block;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 768px) {
    .modal-fon {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .modal-okno {
        border-radius: 4px;
        width: 408px;

        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        min-height: 584px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fcfcfc;
        overflow: auto;
        border-radius: 4px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;


    }

    .modal-fon.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .modal-fon:not(.is-open) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .close-button {
        position: absolute;
        top: 24px;
        right: 24px;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-items: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 1);
        padding: 0;
        cursor: pointer;

        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .close-button:hover {
        background-color: #404BBF;
        border: none;
        fill: #ffffff;
    }

    .close-button:focus {
        background-color: #404BBF;
        border: none;
        fill: #ffffff;
    }

    .modal-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .leave {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;


        margin-bottom: 20px;

        margin-bottom: 16px;
    }

    .form {
        width: 360px;
        height: 336px;
        border-radius: 4px;
    }

    .client-name {
        margin-bottom: 8px;
    }

    .client-name-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        display: block;



    }

    .client-name-input {
        padding-left: 38px;
        width: 360px;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .client-name-input:focus {
        border-color: #4D5AE5;

    }

    .client-name-input:focus+.name-icon {
        fill: #4D5AE5;
    }




    .client-phone-lable {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
    }

    .client-emale-lable {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;

    }

    .comment {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;

    }

    .name-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .input-icon {
        position: relative;

    }



    .phone-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }

    .input-phone {
        position: relative;
    }



    .client-phone-input {
        padding-left: 38px;
    }






    .email-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }

    .input-email {
        position: relative;
    }

    .client-email-input {
        padding-left: 38px;
    }

    .client-comment {
        margin-bottom: 16px;
    }

    .text-area {
        width: 360px;
        height: 120px;

        resize: none;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    .text-area:focus {
        border-color: #4D5AE5;
    }

    .privacy-input {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;



    }

    .privacy-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #8e8f99;





    }

    .privacy-policy {
        margin-bottom: 24px;

    }

    .privacy-link {
        color: #4d5ae5;
    }

    .privacy-input:checked+.privacy-label>.chekbox-button-span {
        background-color: #404bbf;
        border: none;
        fill: #F4F4FD;


    }

    .chekbox-button-span {
        display: inline-flex;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        justify-content: center;
        align-items: center;
        fill: transparent;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;


    }




    .privacy-policy-span {
        line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }

    .send {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        padding: 16px 32px;
        border-radius: 4px;
        width: 159px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;

        margin-left: 120px;

        display: block;
        min-width: 169px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-left: auto;
        margin-right: auto;

    }
}

/**mobile-burger-menu*/

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.burger-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.burger-menu:not(.is-open) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu {
    border-radius: 4px;
    width: 288px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fcfcfc;
    overflow: auto;
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;


}

.mobile-menu-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 168px;
}

.mob-menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.mob-menu-item:focus,
.mob-menu-item:hover {
    color: #404bbf;
}

.mob-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 48px;
}

.close-button-mobile {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 0;
    cursor: pointer;

    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-mobile:hover,
.close-button-mobile:focus {
    color: #2e2f42;
    border: none;
}

.mob-contacts-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #4d5ae5;
}

@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}